.DS_Store
.gradle
/build/
/.gradle
/.idea
/.kotlin
/build
/deps
/modules
/korge.keystore
/local.properties
/src/main
/blade-runner-2049-360p.ts
/src/commonMain/resources/blade-runner-2049-360p.ts

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
